{% extends 'articles/base.html' %}
{% load static %}
{% block body %}

    <br class="p-5">
    <br class="p-5">
    <br class="p-5">
    <br class="p-5">

    <section class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <strong>
                1. Organization
                <hr>
            </strong>
        </div>
        <div class="col-sm-6">
            <p>Dhaka University Central Students Union (DUCSU) is known as the ‘second parliament’ of Bangladesh. It has
                historically been the embodiment of democracy and the central hub of the country to hold public policy
                discussions and debates. In spite of such significance of DUCSU in the national life of this country,
                after the DUCSU election of 1990, University of Dhaka administration was unable to hold any election for
                last 28 years. With the political will of the Prime Minister of Bangladesh, an Alumnus of the University
                of Dhaka and a life member of DUCSU, Sheikh Hasina, the University administration held an election on 11
                March 2019. </p>

            <p>The elected representatives of students, DUCSU aims at creating University of Dhaka as the central hub
                for holding public policy debates with national and international policy makers, jurists and
                academicians and forming a bridge between the academia and the industry. To foster the aim of DUCSU, the
                office of the Secretary, International Affairs, DUCSU, Shahrima Tanjin Arni has constituted a student
                body to publish the DUCSU Law and Politics Review (DUCSU LPR).</p>

            <p>The DUCSU Law and Politics Review is an academic journal about law, policy, politics and governance
                edited by the top most students of the country selected through an admission test where every year the
                top hundred thousand students of Bangladesh compete. Only the students to get into University of Dhaka
                can be involved with the DUCSU LPR. </p>

            <p>DUCSU LPR aims to enhance the research, writing and editing skills of the members of DUCSU LPR. The
                primary
                purpose of DUCSU LPR is to publish cutting edge critical scholarly works on the relevant field and
                organize public lectures, symposiums, seminars and conferences. The publication shall include works
                written by students, top level policy maker, scholars, professors and noted practitioners of home and
                abroad. In this academic platform, all the editorial and organization decisions are taken solely by the
                students of University of Dhaka with the suggestions of the Advisers. </p>

            <p>The writings of the students shall take the form notes, comments on any specific law or policy decisions
                made by the government or the Supreme Court or the parliament. All articles — even those by the most
                respected authorities — shall be subjected to a rigorous editorial process by the brightest students of
                University of Dhaka designed to sharpen and strengthen substance and tone of the writings. </p>
        </div>
    </section>
    <section class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <strong>
                2. Advisers
                <hr>
            </strong>
        </div>
        <div class="col-sm-6">
            <p>The President, DUCSU selects the teachers proposed by the Secretary, International Affairs as the Adviser
                of the DUCSU LPR. The Advisers of DUCSU LPR advises the Editor-in-Chief regarding the call for paper,
                editing of the submitted articles, sponsors for publications and overall functioning of the DUCSU LPR.
            </p>

            <p>Moreover, the Secretary, International Affairs, DUCSU may request reputed experts/practitioners in the
                field of law, politics, international relations, history, economics etc. as the adviser of the DUCSU
                LPR.</p>
        </div>
    </section>
    <section class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <strong>
                3. Secretary, International Affairs, DUCSU
                <hr>
            </strong>
        </div>
        <div class="col-sm-6">
            <p>Since the Independence of Bangladesh, the students of University of Dhaka has elected their
                representative in their Student Union namely Dhaka University Central Students Union (DUCSU) through
                their direct votes. Even though DUCSU has historically been the embodiment of democracy and the central
                hub of the country to hold public policy discussions and debates, after the DUCSU election of 1990,
                University of Dhaka administration was unable to hold any election for last 28 years. As a result, there
                was a vacuum. After 28 years, a major reform was made to the constitution of the DUCSU introducing
                several positions for secretaries of DUCSU who shall represent the students of University of Dhaka in
                their respective sectors. The office of the Secretary, International Affairs, DUCSU is one of the newly
                created office in the history of DUCSU. </p>

            <p>Shahrima Tanjin Arni was elected to the office of Secretary, International Affairs, DUCSU and became the
                first ever International
                Affairs Secretary of DUCSU in its almost 100 years history. </p>

            <p>To foster the academic exercise of the brightest students of the University of Dhaka in the field of law,
                politics, public policy in national and international sphere, the newly elected Secretary, International
                Affairs, DUCSU has taken the initiative to constitute and publish the DUCSU Law and Politics Review
                (DUCSU LPR).</p>
        </div>
    </section>
    <section class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <strong>
                4. Editor-in-Chief
                <hr>
            </strong>
        </div>
        <div class="col-sm-6">
            <p>Through a rigorous interview process, a current LLM Student of Department of Law, University of Dhaka, Md
                Azhar Uddin Bhuiyan was selected as the Editor-in-Chief of the DUCSU Law and Politics Review (DUCSU
                LPR). </p>
        </div>
    </section>
    <section class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <strong>
                5. Editorial Board
                <hr>
            </strong>
        </div>
        <div class="col-sm-6">
            <p>The Editorial Board of DUCSU LPR shall be constituted through rigorous interview soon after the
                appointment of the Advisers and Editor-in-Chief.
            </p>
        </div>
    </section>

{% endblock %}