{% extends 'articles/base.html' %}
{% load static %}
{% block body %}

    <div class="row  m-5 pt-5">
        <div class="col-sm-5">
            <hr class="lines">
        </div>
        <div class="col-sm-2 text-center bg-dark display-4 text-light">
            <h4>DUCSU LPR</h4>
        </div>
        <div class="col-sm-5">
            <hr class="lines">
        </div>
    </div>

    <section class="container-fluid flex-fill">
        <h1 class="display-4 text-center pb-4" style="font-size: 40px"> {{ art_type }}</h1>
        <hr class="boldline pb-4">
        <div class="row d-flex">
            <div class="col-sm-2"></div>
            {% for i in art_list %}
                <div class="col-sm-4 py-2 pl-3 ml-2">
                    {% if forloop.counter > 2 %}
                        <hr>
                    {% endif %}

                    <div class="card" style="width: 18rem;">
                        <img src="{{ i.image_link }}" alt="article image" style="width: 18rem;height: 15rem">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.title }}</h5>
                            <p><i>
                                A
                                <a href="{% url 'show_list' i.get_article_type_display|lower|cut:' ' %}"
                                   class="text-dark"
                                   style="text-decoration-color: black;">
                                    {{ i.get_article_type_display }}
                                </a>
                                by
                                {% for j in i.authors.all %}
                                    {% if not forloop.first and forloop.last %} &
                                    {% elif not forloop.first %},
                                    {% endif %}
                                    <a href="{% url 'show_author' j.id %}" class="text-dark"
                                       style="text-decoration-color: black;">
                                        {{ j.name }}
                                    </a>
                                {% endfor %}
                            </i></p>
                            <p><i class="fa fa-calendar"></i> {{ i.created_date|date:"M d, Y" }}</p>
                            <p class="card-text">{{ i.abstract |safe| truncatewords:15 }}</p>
                            <a href="{% url 'show_article' i.id %}" class="btn btn-primary " style="background-color: #400020; border-color: #400020">read</a>
                        </div>
                    </div>

                </div>
                {% if forloop.last %}
                    </div>
                {% elif forloop.counter|divisibleby:"2" %}
                    </div>
                    <div class="row">
                    <div class="col-sm-2"></div>
                {% endif %}
            {% endfor %}
            </div>
    </section>

{% endblock %}