{% extends 'articles/base.html' %}
{% load static %}
{% block body %}
    <section class="py-5 mt-5 pt-5 container">
        <div class="row py-4">
            <div class="col-sm-5"></div>
            <div class="col-sm-2 text-center">
                <h1 style="font-size: 40px">
                    Submission
                </h1>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p>
                    The DUCSU LPR welcomes submissions of Blog Pieces, Journal Articles, Book Reviews & Case comments
                    throughout the year. The DUCSU LPR requires the contributors to comply with the following standards:
                </p>
                <p>
                    <b>Electronic Submission</b><br>
                    DUCSU LPR accepts submission for its online publication throughout the year at
                    <a
                        href="mailto: ducsu.law.and.politics.review@gmail.com">ducsu.law.and.politics.review@gmail.com</a>.
                    The contributors have to submit their write-up in
                    Microsoft Word format. <br>
                    However, in case of submissions written in Bangla, you may submit a hard copy to the office at the
                    DUCSU Building in an envelope addressing to Secretary, International Affairs, DUCSU.
                </p>
                <p>
                    <b>Citation Format</b><br>
                    DUCSU LPR publishes write up which are free from any kind of plagiarism. We shall use plagiarism
                    software to ensure the authenticity of the write ups. We encourage our contributors to properly
                    refer the original sources in their write up and cite them in footnote or endnote.<br>
                </p>
                <p>
                    <b>Review Process</b><br>
                    The DUCSU LPR shall carefully consider all submission that it receives. The selection process has
                    many steps: each write up shall be reviewed anonymously; at least two editors shall review every
                    submission, a vote by the body of the Review and final confirmation by the Secretary, International
                    Affairs, DUCSU in consultation with the Editor-in-Chief. <br>
                    We shall notify authors of our decisions by email. We normally do not inform authors of the status
                    of their manuscripts other than through email. As a matter of policy, we do not discuss the reasons
                    for our publication decisions.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row py-4">
            <div class="col-sm-5"></div>
            <div class="col-sm-2 text-center">
                <h1>
                    Blog
                </h1>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p>
                    The DUCSU LPR aims to provide its learned readers scholarly research on timely nationally and
                    internationally important legal, political and policy issues. The DUCSU LPR Blog pledges to generate
                    debates, discussions, unravel new questions and challenge its readers’ perception. DUCSU LPR shall
                    approach leading academics, policy makers of the country to contribute to the DUCSU LPR Blog on a
                    wide range of topics.
                </p>
                <p>
                    DUCSU LPR Blog accepts blog pieces of 800-1000 words on timely relevant legal, political and policy
                    issues. If you are interested to share your views with the top quality scholarly audience of DUCSU
                    LPR, please send your submission at <a
                        href="mailto: ducsu.law.and.politics.review@gmail.com">ducsu.law.and.politics.review@gmail.com</a>.
                    At the time of
                    submission, please make sure, you have followed the following procedure:
                    <ol>
                        <li>
                            In the subject of the email, please write “Blog Submission”
                        </li>
                        <li>
                            The file you have attached is named as the title of your write up
                        </li>
                        <li>
                            Please make sure your academic CV is attached along with the blog piece you are submitting.
                        </li>
                    </ol>
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row py-4">
            <div class="col-sm-5"></div>
            <div class="col-sm-2 text-center">
                <h1>
                    Journal
                </h1>
            </div>
            <div class="col-sm-5"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p>
                    The DUCSU LPR pledges to publish one print version of the Review to provide its readers fast
                    paced and timely scholarly research on nationally and internationally important legal, political
                    and policy issues. Soon after the appointment of Advisers, Editor-in-Chief and the constitution
                    of Editorial Board, the Call for Papers shall be published.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row py-4">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <h1>
                    Book Review
                </h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p>
                    Thank you for your interest in writing a book review for the DUCSU LPR! The Editors, Reviewers with
                    the guidance of the Honourable Advisers shall select the book reviews publishable as per the
                    standard of University of Dhaka after rigorous editing process. In order to assist us in making our
                    selections, please follow these guidelines when submitting a book review proposal.
                </p>
                <p>
                    <b>Submission Guidelines</b><br>
                    DUCSU LPR accepts book reviews within 800-2000 words. The word count is inclusive of footnotes.
                    Submissions are required to be in Times New Roman font and double-spaced. The main text should be in
                    font size 12 while footnotes in font size 10. Please use only footnotes (and not end-notes or other
                    forms of citation) in the submission.
                </p>
                <p>
                    Please send all submissions at <a
                        href="mailto: ducsu.law.and.politics.review@gmail.com">ducsu.law.and.politics.review@gmail.com</a>
                </p>
                <p>
                    At the time of submission, along with the book review please include the following information:<br>
                    <ol>
                        <li>
                            Your academic CV
                        </li>
                        <li>
                            Abstract of the book review within 250 words (Outlining what your main contentions are or
                            what you think is the contribution of the book in modern academic literature in the relevant
                            field.)
                        </li>
                        <li>
                            Please write in the subject of the email “Book Review for DUCSU LPR”.
                        </li>
                        <li>
                            Please give us the following information in the main body of the email<br>
                            <ol type='a'>
                                <li>The Book Name</li>
                                <li>Author’s Name</li>
                                <li>Publisher</li>
                                <li>Passing Year</li>
                            </ol>
                        </li>
                    </ol>
                </p>
                <p>
                    <b>Selection</b><br>
                    You will receive a confirmation upon submission. We will then provide you with a decision regarding
                    the acceptance or rejection as soon as possible.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row py-4">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <h1>
                    Public Lectures
                </h1>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p>
                    DUCSU LPR believes in promoting discussions and critical thinking. To foster its aim, it shall
                    organize several public lectures in association with the office of the secretaries of the DUCSU. The
                    DUCSU LPR Lectures are usually open for all. We welcome all the current and previous knowledge
                    seeking individual students in the lectures.
                </p>
                <p>
                    DUCSU LPR Signature Public Lectures shall be held in two ways. DUCSU LPR shall approach leading
                    experts for public lectures or anyone interested to deliver a public lecture may send an abstract of
                    the lecture to <a
                        href="mailto: ducsu.law.and.politics.review@gmail.com">ducsu.law.and.politics.review@gmail.com</a>.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </section>

{% endblock %}